title: Le Cordon Bleu
email: acounsell@cordonbleu.edu
description:
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
host: 0.0.0.0
encoding: utf-8
sass: null
theme: null
plugins: null
permalink: pretty
markdown: kramdown
exclude:
incremental: false
future: true

collections:
  articles:
    permalink: '/:collection/:name/'
    output: true
    hide_content: true    
  emails:
    permalink: '/:collection/:name/'
    output: true
    hide_content: true
  academicdates:
    permalink: '/:collection/:name/'
    output: true
    hide_content: true  

defaults:
  - scope:
      path: ''
    values:
      layout: default
      title: Le Cordon Bleu
      img: http://via.placeholder.com/920x518
      type: news

  - scope:
      path: ''
      type: articles
    values:
      layout: default
      title: Le Cordon Bleu News
      type: news

  - scope:
      path: ''
      type: emails
    values:
      layout: email
      subject: Latest from Le Cordon Bleu Australia
      type: email

  - scope:
      path: ''
      type: academicdates
    values:
      layout: academicdate
      subject: Academic Dates
      type: page
