---
title: Builder
type: home
---

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <ul class="list-group">
        {% for item in site.articles %}
          <li class="list-group-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <ul class="list-group">
        {% for item in site.academicdates %}
          <li class="list-group-item"><a href="{{ item.url }}">{{ item.title }} - {{ item.location }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <table class="table table-bordered table-hover">
        <tr>
          <th scope="col" class="text-center">Subject</th>
          <th scope="col" class="text-center">URL</th>
          <th scope="col" class="text-center">MD</th>
          <th scope="col" class="text-center">HTML</th>
        </tr>
        
        {% assign sorted-emails = site.emails | sort: "date" | reverse %}
        {% for item in sorted-emails %}
        <tr>
          <td scope="row"><button class="cb btn btn-outline-primary btn-sm" data-clipboard-text="{{ item.subject }}"><i class="fas fa-clone"></i></button> <a href="{{ item.url }}" target="_blank">{{ item.subject }}</a></td>
          <td class="text-center">
            <button class="cb btn btn-outline-primary btn-sm" data-clipboard-text="{{ item.subject | downcase | replace: " ", "-" | replace: "---", "-" | replace: "&", "and" }}"><i class="fas fa-clone"></i></button>
          </td>
          <td class="text-center">
            <button class="cb btn btn-outline-primary btn-sm" 
                    data-clipboard-text="# {{ item.subject }}
{% for i in item.block %}
## {{ i.title }}
{{ i.p }}

Read More: {{ i.link }}{{ item.utm }}

{% endfor %}
---
CRICOS Provider Number: 02380M. RTO ID number: 4959.
            ">
            <i class="fas fa-clone"></i></button>
          </td>
          <td class="text-center"></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<script>
  new Clipboard('.cb');
</script>
