<table class="footer centered" style="border-collapse: collapse; border-spacing: 0; margin-left: auto; margin-right: auto; width: 602px;">
  <tbody>
    <tr>
      <td class="social" style="padding: 0; vertical-align: top; padding-top: 32px; font-family: Georgia,serif; border: none;" align="center">
        <table width="410" cellspacing="10" align="center">
          <tr>
            <td width="119" align="center">
              <a style="text-decoration: none;" title="Le Cordon Bleu Australia on Facebook" href="https://www.facebook.com/LeCordonBleuAustralia" target="_blank">
                <img width="114" style="width: auto; height: auto; margin: auto;" src="https://www.cordonbleu.edu/Files/MediaFile/52963.png?v=4065639659" border="0" alt=" Le Cordon Bleu Australia on facebook logo" />
              </a>
            </td>
            <td width="26" align="center">
              <a style="text-decoration: none;" title="Follow us on Twitter" href="https://www.twitter.com/LCBaustralia" target="_blank">
                <img width="21" style="width: auto; height: auto; margin: auto;" src="https://www.cordonbleu.edu/Files/MediaFile/52966.png?v=4103482832" border="0" alt="Le Cordon Bleu Australia on twitter" />
              </a>
            </td>
            <td width="26" align="center">
              <a style="text-decoration: none;" title="Le Cordon Bleu Australia on Instagram" href="https://www.instagram.com/lecordonbleuaustralia/" target="_blank">
                <img width="21" style="width: auto; height: auto; margin: auto;" src="https://www.cordonbleu.edu/Files/MediaFile/52964.png?v=790932542" border="0" alt="Le Cordon Bleu on Instagram" />
              </a>
            </td>
            <td width="94" align="center">
              <a title="Find us on YouTube" href="https://www.youtube.com/lcbaustralia" target="_blank">
                <img width="94" style="width: auto; height: auto; margin: auto;" src="https://www.cordonbleu.edu/Files/MediaFile/52967.png?v=4057067335" border="0" alt="Find us on YouTube" />
              </a>
            </td>
            <td width="95" align="center">
              <a style="text-decoration: none;" title="Le Cordon Bleu, Australia on LinkedIn" href="https://www.linkedin.com/company/le-cordon-bleu-australia" target="_blank">
                <img width="95" style="width: auto; height: auto; margin: auto;" src="https://www.cordonbleu.edu/Files/MediaFile/52965.png?v=3153002880" border="0" alt="Le Cordon Bleu Australia on LinkedIn" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding: 0; vertical-align: top;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding: 0; vertical-align: top;">&nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 0; vertical-align: top;"></td>
    </tr>
    <tr class="contents">
      <td class="padded" style="vertical-align: top; text-align: center; padding-left: 32px; padding-top: 0; padding-right: 32px; padding-bottom: 32px;word-break: break-word; word-wrap: break-word;">
        <p style="margin-top: 0; font-style: normal; font-weight: 400; line-height: 24px; margin-bottom: 24px; font-family: Helvetica, Arial, sans-serif; color: #333; font-size: 12px;">CRICOS Provider Number: 02380M. RTO ID number: 4959.</p>
      </td>
    </tr>
  </tbody>
</table>
