<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1666/xhtml">
<head>
<title>LCBA Newsletter Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- inline styles are here -->
<link href="/email-styles.css" rel="stylesheet" type="text/css" />
<!-- end inline styles -->

<link href="http://static.cordonbleu.edu/assets/styles/static/social.min.css" media="screen,projection" rel="stylesheet" type="text/css" />
</head>
<!--[if mso]>
<body class="mso">
<![endif]-->
<!--[if !mso]><!-->
<body style="margin: 0;padding: 0;min-width: 100%;background-color: #fff">

{{ content }}

</body>
</html>
